table {
    text-align: left;
}

th, td {
    padding: 10px;
}

th {
    background-color: #7fff7f;
}

tr:nth-child(even) {
    background-color: #efefef;
}

tr:hover {
    background-color: #7fffff;
}